body {background:#fff;font:normal small "Comic Sans MS",Arial,Helvetica,sans-serif;color:#666}

h1, h2, h3, h4, h5, h6 {margin:0;padding:0}
h1 {}
h2 {}
h3 { font-size:1.25em; padding-bottom:10px}
h4, h5, h6 {}

hr {border-color:#344E44;border-style:dashed}

p, ul, ol, blockquote {margin-top:0}

a {background:none;text-decoration:none;color:#344E44}
a:hover {background:url(images/img10.png) repeat-x left bottom}
.content ul {margin-top:0}

img {
	border:none;
	max-width:100%;
}

/* Header */
#header {width:80%;height:50px; padding-top:10px; padding-left:40px;background:#344E44 url(images/1img4.png);color:#fff} 
#header h1 {float:left;font-size:1em}
#header h2 {float:left;font-size:0.9em}
#header a {text-decoration:none;color:#fff}

/* Pages */
#pages {float:right;clear:both;width:100%}
#pages h2 {display:none}
#pages ul {margin:0;padding:0;list-style:none}
#pages li {display:inline;padding-right:15px;font-size:0.8em}
#pages a {background:none;text-decoration:none}
#pages a:hover {background:url(images/img11.png) repeat-x left bottom}
#pages .active {background:url(images/img11.png) repeat-x left bottom}

/* Content */
#content {width:100%;margin:0 auto}

/* Column One */
#posts {float:left;width:95%}
#posts .post {margin-bottom:1em;background:url(images/1img3.gif) repeat-x left bottom}
#posts .title {font-size:2em}
#posts .posted {margin-bottom:1em; font-size:1.1em}
#posts .story {padding:20px}
#posts .story .contenidoInfo {padding-top:12px; padding-bottom:12px}
#posts .story a {font-weight:bold;color:#006600}
#posts .meta {background:url(images/1img3.gif) repeat-x left top; margin-top:1em;margin-bottom:1em;padding-top:1em;padding-bottom:1em;text-align:right;font-style:italic;font-size:1em}
#posts .meta a {font-weight:bold;color:#006600}

blockquote {
  font: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
} 
blockquote cite {
  display: block;
  margin-top: 10px;
}

/* Column Two */
.colTwo {float:right;width:30%;margin-bottom:10px; display:none}
.colTwo h2 {width:30%;height:30px;margin-bottom:1em;background:#344E44 url(images/1img2.png);text-align:center;font-size:1.4em;color:#fff}
.colTwo ul {margin:0;padding-right:10px;list-style:none}
.colTwo li {margin-bottom:1em; list-style-image:url(images/bullet.png);font-size:1.2em}
.colTwo .trimestre {font-size:0.9em; list-style:none}
.colTwo .heading {height:30px;padding:0px}
.colTwo .content {padding:0 20px 20px 20px}

/* Pie de página */
#footer {clear:both;text-align:center; width:100%;height:40px;margin:0 auto;padding-top:10px;background:url(images/1img4.png);color:#fff}
#footer p {margin:0;padding:0;text-align:center;font-weight:bold;color:#fff}
#footer a {color:#fff}

.fleft {float:left;padding-left:20px;padding-top:7px}
.fright {float:right;padding-right:15px}
.fcenter {float:none;text-align:center;padding-top:7px}